html{height:100%;}

body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
  border: 1px solid red;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: lightpink;
}

#otherplayers {
  border: 1px solid green;
  margin-top: 8%;
  width: 20%;
  height: 70%;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
}

#playercard1 {
  border: 1px solid green;
  margin-left: 25%;
  margin-top: 35%;
  width: 12%;
  height: 30%;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
}

#playercard2 {
  border: 1px solid green;
  margin-left: 40%;
  margin-top: 35%;
  width: 12%;
  min-height: 30%;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
}

#deck {
  border: 1px solid green;
  margin-left: 25%;
  margin-top: 8%;
  width: 12%;
  min-height: 30%;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  background-image: url("img/deck.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size:cover
}

#burncard {
  border: 1px solid green;
  margin-left: 40%;
  margin-top: 8%;
  width: 12%;
  min-height: 30%;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  background-image: url("img/burn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size:cover
}

#log {
  border: 1px solid green;
  margin-left: 60%;
  margin-top: 5%;
  width: 35%;
  height: 90%;
  box-sizing: border-box;
  position: absolute;
  background-color: #d8ebff;
}

#click2 {
  border: 1px solid red;
  width: 20%;
  min-height: 30%;
  margin-left: 25%;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  background:green;
  cursor: pointer;
}

table.logdata {
    color: #FF6600;
    background-color: #d8ebff;
    width: 100%;
    margin: 0px;
    height: 20px;
}

table.logdata th {
    font-weight: bold;
    text-align: center;
}
